.registration{
width:400px;
height:600px;
display: flex;
align-items: center;
flex-direction: column;
background-color: rgb(207, 207, 207);
border-radius: 15px;
border:black 4px solid;
    font-family: 'Minecraft Rus', sans-serif;

}
