.square {
  width: 58px;
  height: 58px;
  border: 4px black solid;
  background-color: rgb(224, 224, 224);
  box-shadow: inset -2px -3px 0px 0px gray;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px;
}
