#root {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(111, 130, 107);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
body{
  background-color: black;
  
}
@font-face {
  font-family: 'Minecraft Rus';
  src: url('../public/fonts/minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}